:host ::ng-deep .blockly-wrapper {
  width: 100%;
  height: calc(100% - 64px) !important;
}

:host ::ng-deep .blockly, .blocklySvg {
  position: absolute !important;
  width: 100% !important;
  min-width: 100% !important;
  height: calc(100% - 64px) !important;
  min-height: calc(100% - 64px) !important;
  top: 64px;
}

.app-blockly-start {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  position: absolute;
  bottom: 48px;
  right: 48px;
  i {
    font-size: 24px;
  }

}
.app-blockly-search {
  display: none;
  width:136px;
}

:host ::ng-deep {
  .ant-tabs {
    height: calc(100% - 32px);
  }
}
