<div class="blockly-origin-header">
  <button (click)="showCode()">generate js</button>
  <button (click)="recorver()">recover from xml</button>
  <button (click)="saveXml()">generate xml</button>
</div>
<!-- <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
  <nz-tab nzTitle="blocks"> -->
    <div id="blocklyArea" #blocklyArea></div>
    <div id="blocklyDiv" style="position: absolute" #blocklyDiv></div>
  <!-- </nz-tab>
  <nz-tab nzTitle="js">
    sdf
  </nz-tab>
  <nz-tab nzTitle="xml">
  </nz-tab>
</nz-tabset> -->
