:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.blockly-origin-header {
  height: 64px;
  background: #bb9246;
  box-shadow: 4px 4px 4px rgba(0,0,0,.2);
}
#blocklyArea {
  flex: 1;
}
:host ::ng-deep {
  .ant-tabs {
    height: 100%;
  }
  .ant-tabs .ant-tabs-top-content, .ant-tabs .ant-tabs-bottom-content {
    height: 100%;
  }
  .ant-tabs.ant-tabs-card .ant-tabs-card-content > .ant-tabs-tabpane, .ant-tabs.ant-tabs-editable-card .ant-tabs-card-content > .ant-tabs-tabpane {
    height: 100%;
  }
}
