
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-games-primary: mat-palette($mat-indigo);
$angular-games-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-games-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-games-theme: mat-light-theme($angular-games-primary, $angular-games-accent, $angular-games-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-games-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// blockly style更新
// .blocklyTreeLabel {
//   display: inline-block;
//   width: 100%;
//   text-align: center;
// }

.blocklyToolboxDiv {
  background-color: #eee;
}

// .blocklyTreeIconClosedLtr {
//   background-image: url(/assets/svgs/right.svg);
//   background-size: 100%;
// }

// .blocklyTreeIcon {
//   position: absolute;
// }

// .blocklyTreeRow {
//   padding-top: 4px;
//   padding-bottom: 4px;
//   height: auto;
//   line-height: unset;
//   margin-bottom: 0;
//   padding-right: 0;
// }
// .blocklyTreeLabel {
//   font-size: 16px;
// }
.blocklyHidden {
  display: none !important;
}
.blocklyTreeRow {
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-right: 16px;
}
// 目录展开
.app-blockly-expanded {
  i {
    transform: rotateX(180deg);
    transition: all .3s;
  }
}
// 目录闭合
.app-blockly-collapsed {
  i {
    transform: rotateX(0deg);
    transition: all .3s;
  }
}
.app-blockly-selected {
  i {
    color: #fff;
  }
}
// flyout背景色
.blocklyFlyoutBackground {
  fill: #4b4949!important;
}
// flyout中label的颜色
.blocklyFlyoutLabelText {
  fill: #fff;
}
// mutator图标的背景色
.blocklyIconShape {
  fill: #aaa;
}
.goog-menuitem {
  &:hover {
    background: #eee;
  }
}
